#search-input{
    outline: none;
    border-radius: 5px;
    margin: 5px 0 0 10px;
    border-color: rgb(85, 47, 3);
    background-color: rgb(211, 118, 12);
    color: #FFFFFF;
    padding: 5px;
}
#search-input::placeholder{
    color: silver;
}
.paging-btn-wrapper{
    display: inline-block;
    float: right;
    margin: 5px 10px;
}
.paging-btn-wrapper > button {
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(173, 101, 6);
    color: #FFFFFF;
    padding: 7px 13px;
    font-size: 1vw;
    font-weight: bold;
}
.paging-btn-wrapper > button:first-child{
    margin: 0 20px 0 0;
}
.paging-btn-wrapper > button:hover {
    box-shadow: inset 0 0 15px #000000;
}